@media screen and (max-width: 400px) {
    body{
        padding-bottom: 1800px;
    }
    main{
        position: static;
    }
    .disclaimer{
        top: 100px;
        left: 10px;
    }
    .form-container{
        top: 420px;
        left: 2%;
        width: 150px;
        overflow: auto;
    }
    .radio-cont{
        flex-direction: column;
        margin-left: 10px;
    }
    .em{
        margin: 0;
        width: 10px;
    }
    .contacts div label{
        margin-left: 0;
    }
    #email, #phone{
        width: 140px;
       margin-left: 5px;
    }
    .page-header{
        top: 40px;
        margin-left: 10px;
        font-size: 14px;
    }
    .textarea{
        width: 140px;
    }
    .rq{
        top: 270px;
        margin-left: 10px;
    }
}

@media screen and (min-width: 401px) and (max-width: 650px){
    .page-header{
        top: 75px;
    }
    .rq{
        top: 185px;
    }
    .form-container{
        top: 300px;
    }
    body{
        padding-bottom: 1300px;
    }
}