@media screen and (max-width: 600px) {
body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 2800px;
    }
main{
    width: 200px;
    flex-direction: column;
    align-items: center;
 }
 .page-header{
    display: none;
 }
 .my-name{
   left: 25px;
    top: 7px;
 }
 .profile{
    top: 45px;
    left: 16%;

 }
 .profile-pic{
    height: 150px;
    width: 150px;
 }
 .profile-pic img{
    width: 80px;
 }
 hr{
    top: 2640px;
 }
 .profile-name{
   width: 180px;
 }
 .hire{
    top: 260px;
    left: 10%;
    width: 60px;
 }
 .contact{
    left: 120px;
    top: 260px;
    width: 80px;
 }
 .skills{
    top: 820px;
    width: auto;
    left: 4%;
 }
 .about {
    top: 340px;
    width: auto;
 }
 .projects{
    width: 180px;
    top: 1328px;
 }
 .project{
    margin-top: 120px;
    width: 160px;
    height: 250px;
 }
 .project div img{
   height: 100px;
   object-fit: contain;
    border-radius: 10px;
 }
 .img-cont{
   position: absolute;
   top: 60px;
   height: 90px;
  
 }
 .pr-title{
    top: -150px;

 }
 .description{
    left: 4%;
    width: 160px;
    height: 100px;
    overflow: auto;
    top: -68px;
 }
 .view-bt{
   left: 12px;
   top: 160px;
 }
 .d-tag{
    left: 2%;
    top: -100px;
    margin-top: 25px;
 }
 .contacts-sec{
    top: 2670px;
 }
}